![download.png]()

Reference: https://pandas.pydata.org/docs/user_guide/index.html#user-guide

* The name 'Pandas' is short for Panel Data and Python Data Analysis.

* Created by Wes McKinney in 2008.

* For analyzing, cleaning, exploring, and manipulating data.

* Pandas is built around data structures called **Series** and **DataFrames**.

* A Series is a 1-dimensional data structure built on top of NumPy's array

  * Unlike in NumPy, each data point has an index

* A DataFrame is a 2-dimensional data structure of rows and columns.

* Data for these collections can be imported from various file formats
  * comma-separated values (CSV), JSON, Parquet, SQL database tables or queries, and Microsoft Excel

* Inefficiency: requires 5 to 10 times as much memory as the size of the underlying data, and the entire dataset must be loaded in RAM.

* Wes McKinney, the creator of Pandas, has recommended Apache Arrow as an alternative to address these performance concerns and other limitations

**Series**

Basic Series from a List

In [ ]:
import pandas as pd
a = [1, 7, 2]
myvar = pd.Series(a)
print(myvar)

0    1
1    7
2    2
dtype: int64

* Pandas automatically creates an integer index [0, 1, 2].

* Each list value becomes a row in the Series.

Accessing a Single Element by Index

In [ ]:
import pandas as pd
a = [1, 7, 2]
myvar = pd.Series(a)
print(myvar[0])

1

* Accessing index 0 returns the first element.

Custom Index

In [ ]:
import pandas as pd
a = [1, 7, 2]
myvar = pd.Series(a, index=["x", "y", "z"])
print(myvar)

x    1
y    7
z    2
dtype: int64

* Instead of default integer index, you can set custom labels.

Series from a Dictionary

In [ ]:
import pandas as pd
calories = {"day1": 420, "day2": 380, "day3": 390}
myvar = pd.Series(calories)
print(myvar)

day1    420
day2    380
day3    390
dtype: int64

* Dictionary keys become the index labels.

* Values become the Series values.

Series from a Dictionary with Custom Index

In [ ]:
import pandas as pd
calories = {"day1": 420, "day2": 380, "day3": 390}
myvar = pd.Series(calories, index=["day1", "day2"])
print(myvar)

day1    420
day2    380
dtype: int64

A series is like a column, while a DataFrame is the entire table.

Data sets in Pandas are usually multi-dimensional tables, called DataFrames.

In [ ]:
data = pd.Series([0.25, 0.5, 0.75, 1.0])
data.index

RangeIndex(start=0, stop=4, step=1)

In [ ]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [ ]:
data[1]
data[1:3]

1    0.50
2    0.75
dtype: float64

In [ ]:
data = pd.Series(
    [0.25, 0.5, 0.75, 1.0],
    index=['a', 'b', 'c', 'd']
)
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [ ]:
'a' in data

True

In [ ]:
data.keys()

Index(['a', 'b', 'c', 'd'], dtype='object')

In [ ]:
list(data.items())

[('a', 0.25), ('b', 0.5), ('c', 0.75), ('d', 1.0)]

**DataFrames**

In [ ]:
area = pd.Series({
    'California': 423967, 'Texas': 695662,
    'New York': 141297, 'Florida': 170312,
    'Illinois': 149995
})
pop = pd.Series({
    'California': 38332521, 'Texas': 26448193,
    'New York': 19651127, 'Florida': 19552860,
    'Illinois': 12882135
})
data = pd.DataFrame({'area': area, 'pop': pop})
data

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127
Florida     170312  19552860
Illinois    149995  12882135

In [ ]:
data['area']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [ ]:
data.area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [ ]:
data.area is data['area']

True

Read CSV and print full DataFrame

In [ ]:
import pandas as pd

df = pd.read_csv('data.csv')
print(df.to_string())  # Prints all rows and columns without truncation

# Refer https://github.com/Shakil-Mahmud-Programmer/Calories-Information-According-to-Heart-Rate/blob/main/data.csv for data

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
5          60    102       127     300.0
6          60    110       136     374.0
7          45    104       134     253.3
8          30    109       133     195.1
9          60     98       124     269.0
10         60    103       147     329.3
11         60    100       120     250.7
12         60    106       128     345.3
13         60    104       132     379.3
14         60     98       123     250.0
15         60     98       120     215.2
16         60    100       120     300.0
17         45     90       112       NaN
18         60    103       123     323.0
19         45     97       125     243.0
20         60    108       131     364.2
21         45    100       119     282.0
22         60    130       101     300.0
23         45    105       132     246.0
24         60    102       126     334.5
25         60    100       120     250.0
26         60     92       118     241.0
27         60    103       132       NaN
28         60    100       132     280.0
29         60    102       129     380.3
30         60     92       115     243.0
31         45     90       112     180.1
32         60    101       124     299.0
33         60     93       113     223.0
34         60    107       136     361.0
35         60    114       140     415.0
36         60    102       127     300.0
37         60    100       120     300.0
38         60    100       120     300.0
39         45    104       129     266.0
40         45     90       112     180.1
41         60     98       126     286.0
42         60    100       122     329.4
43         60    111       138     400.0
44         60    111       131     397.0
45         60     99       119     273.0
46         60    109       153     387.6
47         45    111       136     300.0
48         45    108       129     298.0
49         60    111       139     397.6
50         60    107       136     380.2
51         80    123       146     643.1
52         60    106       130     263.0
53         60    118       151     486.0
54         30    136       175     238.0
55         60    121       146     450.7
56         60    118       121     413.0
57         45    115       144     305.0
58         20    153       172     226.4
59         45    123       152     321.0
60        210    108       160    1376.0
61        160    110       137    1034.4
62        160    109       135     853.0
63         45    118       141     341.0
64         20    110       130     131.4
65        180     90       130     800.4
66        150    105       135     873.4
67        150    107       130     816.0
68         20    106       136     110.4
69        300    108       143    1500.2
70        150     97       129    1115.0
71         60    109       153     387.6
72         90    100       127     700.0
73        150     97       127     953.2
74         45    114       146     304.0
75         90     98       125     563.2
76         45    105       134     251.0
77         45    110       141     300.0
78        120    100       130     500.4
79        270    100       131    1729.0
80         30    159       182     319.2
81         45    149       169     344.0
82         30    103       139     151.1
83        120    100       130     500.0
84         45    100       120     225.3
85         30    151       170     300.0
86         45    102       136     234.0
87        120    100       157    1000.1
88         45    129       103     242.0
89         20     83       107      50.3
90        180    101       127     600.1
91         45    107       137       NaN
92         30     90       107     105.3
93         15     80       100      50.5
94         20    150       171     127.4
95         20    151       168     229.4
96         30     95       128     128.2
97         25    152       168     244.2
98         30    109       131     188.2
99         90     93       124     604.1
100        20     95       112      77.7
101        90     90       110     500.0
102        90     90       100     500.0
103        90     90       100     500.4
104        30     92       108      92.7
105        30     93       128     124.0
106       180     90       120     800.3
107        30     90       120      86.2
108        90     90       120     500.3
109       210    137       184    1860.4
110        60    102       124     325.2
111        45    107       124     275.0
112        15    124       139     124.2
113        45    100       120     225.3
114        60    108       131     367.6
115        60    108       151     351.7
116        60    116       141     443.0
117        60     97       122     277.4
118        60    105       125       NaN
119        60    103       124     332.7
120        30    112       137     193.9
121        45    100       120     100.7
122        60    119       169     336.7
123        60    107       127     344.9
124        60    111       151     368.5
125        60     98       122     271.0
126        60     97       124     275.3
127        60    109       127     382.0
128        90     99       125     466.4
129        60    114       151     384.0
130        60    104       134     342.5
131        60    107       138     357.5
132        60    103       133     335.0
133        60    106       132     327.5
134        60    103       136     339.0
135        20    136       156     189.0
136        45    117       143     317.7
137        45    115       137     318.0
138        45    113       138     308.0
139        20    141       162     222.4
140        60    108       135     390.0
141        60     97       127       NaN
142        45    100       120     250.4
143        45    122       149     335.4
144        60    136       170     470.2
145        45    106       126     270.8
146        60    107       136     400.0
147        60    112       146     361.9
148        30    103       127     185.0
149        60    110       150     409.4
150        60    106       134     343.0
151        60    109       129     353.2
152        60    109       138     374.0
153        30    150       167     275.8
154        60    105       128     328.0
155        60    111       151     368.5
156        60     97       131     270.4
157        60    100       120     270.4
158        60    114       150     382.8
159        30     80       120     240.9
160        30     85       120     250.4
161        45     90       130     260.4
162        45     95       130     270.0
163        45    100       140     280.9
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4
169        75    120       150     320.4
170        60    105       128     328.0

* pd.read_csv('data.csv') → Loads a CSV file into a Pandas DataFrame.

* df.to_string() → Ensures all rows and columns are displayed (by default Pandas truncates long outputs).

 Create DataFrame from dictionary

In [ ]:
mydataset = {
    'cars': ["BMW", "Volvo", "Ford"],
    'passings': [3, 7, 2]
}
myvar = pd.DataFrame(mydataset)
print(myvar)

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2

* Creates a table-like structure from Python dictionary.

* Columns: cars, passings.

* Automatically assigns integer indexes (0, 1, 2).

 Create another DataFrame

In [ ]:
import pandas as pd

data = {
    "calories": [420, 380, 390],
    "duration": [50, 40, 45]
}
myvar = pd.DataFrame(data)
print(myvar)

   calories  duration
0       420        50
1       380        40
2       390        45

Access a row using .loc[]

In [ ]:
print(df.loc[0])

Duration     60.0
Pulse       110.0
Maxpulse    130.0
Calories    409.1
Name: 0, dtype: float64

* df.loc[0] → Retrieves the row with index 0 (based on labels, not position).

* Returns a Series containing all column values for that row.

| Feature                   | `.loc[]` (Label-based)                           | `.iloc[]` (Integer position-based)                 |
| ------------------------- | ------------------------------------------------ | -------------------------------------------------- |
| **Indexing type**         | Uses **labels** (index names)                    | Uses **integer positions** (0-based)               |
| **Row selection**         | `df.loc[2]` → Row with index label `2`           | `df.iloc[2]` → Third row in the DataFrame          |
| **Column selection**      | `df.loc[:, "col1"]` → Column `"col1"`            | `df.iloc[:, 0]` → First column                     |
| **Multiple rows/columns** | `df.loc[[1, 3], ["A", "B"]]`                     | `df.iloc[[1, 3], [0, 1]]`                          |
| **Slicing**               | Inclusive of **end index** → `df.loc[1:3]`       | Exclusive of **end index** → `df.iloc[1:3]`        |
| **Mix rows & columns**    | `df.loc[0, "col1"]` → Single value (label-based) | `df.iloc[0, 0]` → Single value (position-based)    |
| **When to use**           | When you know the **row/column labels**          | When you know the **row/column numeric positions** |

In [ ]:
data = {
    "Name": ["Alice", "Bob", "Charlie"],
    "Age": [25, 30, 35]
}
df = pd.DataFrame(data, index=["a", "b", "c"])

# Using .loc[]
print(df.loc["b", "Age"])   # 30

# Using .iloc[]
print(df.iloc[1, 1])        # 30

30
30

RangeIndex(start=0, stop=4, step=1)

Create a pandas Series of 4 random integers between 0 (inclusive) and 10 (exclusive), using a fixed seed (42) for reproducibility.

In [ ]:
import numpy as np
import pandas as pd

# Create a reproducible random generator with seed 42
rng = np.random.RandomState(42)

# Generate a pandas Series of 4 integers from 0 to 9
ser = pd.Series(rng.randint(0, 10, 4))
print(ser)

0    6
1    3
2    7
3    4
dtype: int64

* np.random.RandomState(42) → fixed seed for predictable results.

* randint(0, 10, 4) → generates 4 integers between 0 and 9.

* pd.Series(...) → wraps them into a pandas Series with default index [0, 1, 2, 3].

In [ ]:
df = pd.DataFrame(
    rng.randint(0, 10, (3, 4)),
    columns=['A', 'B', 'C', 'D']
)
df

   A  B  C  D
0  6  9  2  6
1  7  4  3  7
2  7  2  5  4

### Handling missing data

Real-world data is rarely clean and homogeneous.

Pandas chose to use sentinels for missing data, and further chose to use two already-existing Python null values: the special floating-point `NaN` value, and the Python `None` object.

#### `None`: pythonic missing data

In [ ]:
vals1 = np.array([1, None, 3, 4])
vals1

array([1, None, 3, 4], dtype=object)

This `dtype=object` means that the best common type representation NumPy could infer for the contents of the array is that they are Python objects.

Now, we can check how fast NumPy can create a large array of a given dtype and then sum it.

In [ ]:
for dtype in ['object', 'int']:
    print("dtype =", dtype)
    %timeit np.arange(1E6, dtype=dtype).sum()
    print()

dtype = object
65.7 ms ± 936 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

dtype = int
1.05 ms ± 198 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

dtype=int will be much faster because NumPy can use vectorized C code.

dtype=object will be much slower because Python’s sum for each object is called in a loop.

#### NaN: missing numerical data

In [ ]:
vals2 = np.array([1, np.nan, 3, 4])
vals2.dtype

dtype('float64')

Notice that NumPy chose a native floating-point type for this array: this means that unlike the object array from before, this array supports fast operations pushed into compiled code.

In [ ]:
%timeit np.arange(1E6, dtype=dtype).sum()
print()

903 µs ± 35 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [ ]:
vals2.sum()

np.float64(nan)

#### **NaN and None in Pandas**

In [ ]:
pd.Series([1, np.nan, 2, None])

0    1.0
1    NaN
2    2.0
3    NaN
dtype: float64

In [ ]:
x = pd.Series(range(2), dtype=int)
x

0    0
1    1
dtype: int64

In [ ]:
x[0] = None
x

0    NaN
1    1.0
dtype: float64

#### Operating on null values

In [ ]:
data = pd.Series([1, np.nan, 'hello', None])

In [ ]:
data.isnull()

0    False
1     True
2    False
3     True
dtype: bool

In [ ]:
data[data.notnull()]

0        1
2    hello
dtype: object

In [ ]:
data.dropna() #used to remove missing values (NaN) from a DataFrame or Series.

0        1
2    hello
dtype: object

In [ ]:
data = pd.Series([1, np.nan, 2, None, 3], index=list('abcde'))
data

a    1.0
b    NaN
c    2.0
d    NaN
e    3.0
dtype: float64

In [ ]:
data = data.fillna(0)
data

a    1.0
b    0.0
c    2.0
d    0.0
e    3.0
dtype: float64

### Combining datasets: concat and append

Some of the most interesting studies of data come from combining different data sources.

In [ ]:
def make_df(cols, ind):
    """Quickly make a DataFrame"""
    data = {c: [str(c) + str(i) for i in ind]
            for c in cols}
    return pd.DataFrame(data, ind)


# example DataFrame
make_df('ABC', range(3))

    A   B   C
0  A0  B0  C0
1  A1  B1  C1
2  A2  B2  C2

#### Simple concatenation with pd.concat

Pandas has a function, `pd.concat()`, which has a similar syntax to `np.concatenate` but contains a number of options that we’ll discuss momentarily:

```
pd.concat(objs, axis=0, join='outer', join_axes=None, ignore_index=False,
          keys=None, levels=None, names=None, verify_integrity=False,
          copy=True)
```

In [ ]:
ser1 = pd.Series(['A', 'B', 'C'], index=[1, 2, 3])
ser1

1    A
2    B
3    C
dtype: object

In [ ]:
ser2 = pd.Series(['D', 'E', 'F'], index=[4, 5, 6])
ser2

4    D
5    E
6    F
dtype: object

In [ ]:
pd.concat([ser1, ser2])

1    A
2    B
3    C
4    D
5    E
6    F
dtype: object

### Combining datasets: merge and join

One essential feature offered by Pandas is its high-performance, in-memory join and merge operations.

The `pd.merge()` function implements a number of types of joins: the *one-to-one*, *many-to-one*, and *many-to-many* joins.

In [ ]:
df1 = pd.DataFrame({
    'employee': ['Bob', 'Jake', 'Lisa', 'Sue'],
    'group': ['Accounting', 'Engineering', 'Engineering', 'HR']
})
df1

  employee        group
0      Bob   Accounting
1     Jake  Engineering
2     Lisa  Engineering
3      Sue           HR

In [ ]:
df2 = pd.DataFrame({
    'employee': ['Lisa', 'Bob', 'Jake', 'Sue'],
    'hire_date': [2004, 2008, 2012, 2014]
})
df2

  employee  hire_date
0     Lisa       2004
1      Bob       2008
2     Jake       2012
3      Sue       2014

In [ ]:
df3 = pd.merge(df1, df2)
df3

  employee        group  hire_date
0      Bob   Accounting       2008
1     Jake  Engineering       2012
2     Lisa  Engineering       2004
3      Sue           HR       2014