In [ ]:
#Determining python version
import sys  # Module contains sys.path, sys.getsizeof(obj), sys.exit()
print(sys.version)

3.11.13 (main, Jun  4 2025, 08:57:29) [GCC 11.4.0]

*   Python is a case sensitive language.
*   Python has 33 keywords and keywords are in lowercase.

In [ ]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']



*   Python identifier is a name given to entities like a variable, function, class, module, or other object.

 **Examples:**


*   Valid identifiers:var1 = 5, _var1 = "Python", var_1 = 3.
*   Invalid identifiers:1var = 5,var@1 = "Python", def = 3.14

**Python Types:**

1.   Basic types: int, float, complex, bool, string, bytes.
2.   Container types: list, tuple,set, dict
3.   User-defined types: class

In [ ]:
print(27)
print('NITC')
print(2.5)

27
NITC
2.5

In [ ]:
print(type(27))
print(type('NITC'))
print(type(2.5))

<class 'int'>
<class 'str'>
<class 'float'>

In [ ]:
var1=5
var2=10
print(var2)
var1

10

5

In [ ]:
#Multiple variable assignment
a=b=c=d=14
print(a)

14

In [ ]:
# Define two numbers
a = 10
b = 3

# Arithmetic operations
addition = a + b
subtraction = a - b
multiplication = a * b
division = a / b            # float division
floor_division = a // b     # integer (floor) division
modulus = a % b             # remainder
exponentiation = a ** b     # a raised to the power of b

# Display results
print("Addition:        ", addition)
print("Subtraction:     ", subtraction)
print("Multiplication:  ", multiplication)
print("Division:        ", division)
print("Floor Division:  ", floor_division)
print("Modulus:         ", modulus)
print("Exponentiation:  ", exponentiation)

Addition:         13 Subtraction:      7
Multiplication:   30
Division:         3.3333333333333335
Floor Division:   3
Modulus:          1
Exponentiation:   1000

**PEDMAS Rule**

P – Parentheses

E – Exponents

M/D – Multiplication and Division (from left to right)

A/S – Addition and Subtraction (from left to right)

In [ ]:
# PEMDAS Example
expr1 = 5 + 2 * 3       # Multiplication before addition
expr2 = (5 + 2) * 3     # Parentheses first
expr3 = 2 ** 3 + 4      # Exponent before addition
expr4 = 10 - 4 / 2      # Division before subtraction
expr5 = 8 / 4 * 2       # Left to right (division then multiplication)
expr6 = 16 / 2 ** 2     # Exponent before division

# Displaying results
print("5 + 2 * 3        =", expr1)  # 5 + 6 = 11
print("(5 + 2) * 3      =", expr2)  # 7 * 3 = 21
print("2 ** 3 + 4       =", expr3)  # 8 + 4 = 12
print("10 - 4 / 2       =", expr4)  # 10 - 2 = 8.0
print("8 / 4 * 2        =", expr5)  # 2.0 * 2 = 4.0
print("16 / 2 ** 2      =", expr6)  # 16 / 4 = 4.0

5 + 2 * 3        = 11
(5 + 2) * 3      = 21
2 ** 3 + 4       = 12
10 - 4 / 2       = 8.0
8 / 4 * 2        = 4.0
16 / 2 ** 2      = 4.0

**escape characters**

| Escape Sequence | Meaning                      | Example               | Output                       |
| --------------- | ---------------------------- | --------------------- | ---------------------------- |
| `\'`            | Single quote                 | `'It\'s OK'`          | `It's OK`                    |
| `\"`            | Double quote                 | `"He said \"Hello\""` | `He said "Hello"`            |
| `\\`            | Backslash                    | `"C:\\Users\\Name"`   | `C:\Users\Name`              |
| `\n`            | Newline                      | `"Line1\nLine2"`      | Line1<br>Line2               |
| `\t`            | Tab                          | `"Name:\tSudeep"`     | `Name:   Sudeep`             |
| `\r`            | Carriage return              | `"Hello\rWorld"`      | `World` (overwrites "Hello") |
| `\b`            | Backspace                    | `"Erase\b\b\bAdd"`    | `ErAdd` (simulated)          |
| `\f`            | Form feed                    | `"Hello\fWorld"`      | Varies (not often used)      |
| `\a`            | Bell (alert sound)           | `"\a"`                | Triggers sound (if enabled)  |
| `\uXXXX`        | Unicode character (4 digits) | `"\u03A9"`            | `Ω`                          |
| `\UXXXXXXXX`    | Unicode (8 digits)           | `"\U0001F600"`        | 😀                           |

In [ ]:
print('It\'s a beautiful day!')
print("He said \"Python is fun!\"")
print("This is line one.\nThis is line two.")
print("Column1\tColumn2\tColumn3")
print("Backslash: \\")
print("Unicode Omega: \u03A9")
print("Emoji: \U0001F600")

It's a beautiful day!
He said "Python is fun!"
This is line one.
This is line two.
Column1	Column2	Column3
Backslash: \
Unicode Omega: Ω
Emoji: 😀

To ignore escape sequences, prefix the string with r (raw string)

In [ ]:
print(r"C:\Users\NITC\Documents")

C:\Users\NITC\Documents

**input()**

In [ ]:
#input() -used to take user input from the keyboard during program execution.
name = input("What is your name? ")
print("Hello,", name)

What is your name? Sudeep
Hello, Sudeep

In [ ]:
#Use int() or float() to convert the input to a number.
count = int(input("Enter the count before adding the last item: "))
print("After adding the item", count + 1)

Enter the count before adding the last item: 50
After adding the item 51

In [ ]:
#Error

# Common Mistake: This will raise an error if the user enters non-numeric input
num = int(input("Enter a number: "))  # e.g., if user types 'abc', it crashes

Enter a number: six

ValueError: invalid literal for int() with base 10: 'six'

In [ ]:
##Error handling
try:
    num = int(input("Enter a number: "))
    print("Double of that is", num * 2)
except ValueError:
    print("That's not a valid number!")

Enter a number: six
That's not a valid number!

**eval()**

In [ ]:
x = 10
result = eval("x + 5")
print(result)  # Output: 15

expr = input("Enter an expression: ")   # e.g., 3 * (4 + 5)
print("Result:", eval(expr))

15
Enter an expression: 3*(4+5)
Result: 27

In [ ]:
val1=eval(input('Enter the value:'))
print('val1=',val1,'type:',type(val1))

Enter the value:200
val1= 200 type: <class 'int'>

**Type casting (type conversion)**

In [ ]:
# Integer to float
x = 10
x_float = float(x)
print("Integer to float:", x_float)

# Float to integer
y = 3.75
y_int = int(y)
print("Float to integer:", y_int)

# Integer to string
z = 100
z_str = str(z)
print("Integer to string:", z_str)

# String to integer
s1 = "25"
s1_int = int(s1)
print("String to integer:", s1_int)

# String to float
s2 = "3.14"
s2_float = float(s2)
print("String to float:", s2_float)

# Number to boolean
num = 0
bool_val = bool(num)
print("Number to boolean:", bool_val)  # False, since 0 is "falsy"

# Boolean to integer
b = True
b_int = int(b)
print("Boolean to integer:", b_int)    # True becomes 1

Integer to float: 10.0
Float to integer: 3
Integer to string: 100
String to integer: 25
String to float: 3.14
Number to boolean: False
Boolean to integer: 1

**common built-in functions:**

Note: help(function) gives help about any built-in function.

In [ ]:
#Help
help(len)
help(print)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [ ]:
# Basic data
nums = [3, 7, 2, 8, 4]

# Built-in functions
print("Length of list:", len(nums))        # Count of elements
print("Maximum value:", max(nums))         # Largest element
print("Minimum value:", min(nums))         # Smallest element
print("Sum of elements:", sum(nums))       # Total sum
print("Sorted list:", sorted(nums))        # Returns a sorted copy
print("Reversed list:", list(reversed(nums)))  # Returns reversed iterator

# Type-related
x = 5.678
print("Type of x:", type(x))               # Data type of x
print("Rounded x:", round(x))              # Rounds to nearest integer
print("Rounded x (1 decimal):", round(x, 1))  # Rounded to 1 decimal place

# Conversion
print("String of 123:", str(123))          # Converts int to string
print("Integer from string '45':", int("45"))  # Converts string to int

# Boolean checks
print("All true?", all([True, True, 1]))    # True if all are true
print("Any true?", any([False, 0, True]))   # True if any is true

# Enumerate
print("\nEnumerating list:")
for index, value in enumerate(nums):
    print(f"Index {index} → Value {value}")

Length of list: 5
Maximum value: 8
Minimum value: 2
Sum of elements: 24
Sorted list: [2, 3, 4, 7, 8]
Reversed list: [4, 8, 2, 7, 3]
Type of x: <class 'float'>
Rounded x: 6
Rounded x (1 decimal): 5.7
String of 123: 123
Integer from string '45': 45
All true? True
Any true? True

Enumerating list:
Index 0 → Value 3
Index 1 → Value 7
Index 2 → Value 2
Index 3 → Value 8
Index 4 → Value 4

In [ ]:
# abs, pow, divmod, bin, oct, hex
# abs(): Absolute value
a = -15
print("abs(-15):", abs(a))         # → 15

# pow(): Exponentiation (like a ** b)
b = 2
e = 3
print("pow(2, 3):", pow(b, e))     # → 8

# divmod(): Returns (quotient, remainder)
num = 17
den = 5
q_r = divmod(num, den)
print("divmod(17, 5):", q_r)       # → (3, 2)

# bin(): Binary representation
n = 10
print("bin(10):", bin(n))          # → '0b1010'

# oct(): Octal representation
print("oct(10):", oct(n))          # → '0o12'

# hex(): Hexadecimal representation
print("hex(10):", hex(n))          # → '0xa'

abs(-15): 15
pow(2, 3): 8
divmod(17, 5): (3, 2)
bin(10): 0b1010
oct(10): 0o12
hex(10): 0xa

**Built-in (standard library) Modules**

Note: Each module contains many functions.

In [ ]:
import math # for real number math. Many useful functions available.

print("math.sqrt(16):", math.sqrt(16))         # Square root → 4.0
print("math.factorial(5):", math.factorial(5)) # 5! → 120
print("math.pi:", math.pi)                     # π → 3.14159...
print("math.sin(math.pi / 2):", math.sin(math.pi / 2))  # sin(90°) → 1.0

math.sqrt(16): 4.0
math.factorial(5): 120
math.pi: 3.141592653589793
math.sin(math.pi / 2): 1.0

In [ ]:
import cmath # for complex number math

z = complex(1, 2)
print("cmath.sqrt(-1):", cmath.sqrt(-1))       # → 1j
print("cmath.phase(z):", cmath.phase(z))       # Phase angle (radians)
print("cmath.polar(z):", cmath.polar(z))       # (r, θ) polar coordinates

cmath.sqrt(-1): 1j
cmath.phase(z): 1.1071487177940904
cmath.polar(z): (2.23606797749979, 1.1071487177940904)

In [ ]:
import random #for generating random values

print("random.random():", random.random())         # Float in [0.0, 1.0)
print("random.randint(1, 6):", random.randint(1, 6))# Dice roll: 1–6
print("random.choice(['red', 'blue']):", random.choice(['red', 'blue']))
print("random.shuffle([1, 2, 3, 4]):", end=" ")
nums = [1, 2, 3, 4]
random.shuffle(nums)
print(nums)

random.random(): 0.6375630695696086
random.randint(1, 6): 4
random.choice(['red', 'blue']): red
random.shuffle([1, 2, 3, 4]): [1, 3, 4, 2]

decimal (code below) module contains functions for precise arithmetic operations.

Python normally uses floating-point numbers (like float) for decimals. But these are based on binary fractions, not base-10, so they can’t always represent decimal values exactly.

| Feature             | `float` (default)          | `Decimal` (from module)        |
| ------------------- | -------------------------- | ------------------------------ |
| Base                | Binary (base-2)            | Decimal (base-10)              |
| Speed               | Faster                     | Slower                         |
| Precision           | Approximate                | Exact                          |
| Use case            | Science, graphics, general | Finance, accounting, precision |
| Example (1.1 + 2.2) | `3.3000000000000003`       | `3.3`                          |

In [ ]:
print(1.1 + 2.2)

3.3000000000000003

In [ ]:
print(1.1 + 2.2)   # Output: 3.3000000000000003

from decimal import Decimal, getcontext

getcontext().prec = 4
a = Decimal('1.1')
b = Decimal('2.2')
print("Decimal('1.1') + Decimal('2.2'):", a + b)  # Exact math: 3.3

3.3000000000000003
Decimal('1.1') + Decimal('2.2'): 3.3

**Python Container Data Types & Examples**

| Type    | Ordered? | Mutable? | Allows duplicates?  | Access by |
| ------- | -------- | -------- | ------------------- | --------- |
| `list`  | ✅        | ✅        | ✅                   | Index     |
| `tuple` | ✅        | ❌        | ✅                   | Index     |
| `set`   | ❌        | ✅        | ❌                   | Value     |
| `dict`  | ✅        | ✅        | Keys must be unique | Key       |
| `str`   | ✅        | ❌        | ✅                   | Index     |

In [ ]:
unique_nums = {2, 2, 3, 1}
print("Set (no duplicates):", unique_nums)

Set (no duplicates): {1, 2, 3}

In [ ]:
# List → Ordered, changeable, allows duplicates
fruits = ["apple", "banana", "cherry"]
print("List:", fruits)
fruits.append("orange")      # Add item
print("Updated List:", fruits)

# Tuple → Ordered, unchangeable (immutable), allows duplicates
coordinates = (10, 20)
print("Tuple:", coordinates)

# Set → Unordered, no duplicates
unique_nums = {1, 2, 2, 3}
print("Set (no duplicates):", unique_nums)
unique_nums.add(4)
print("Updated Set:", unique_nums)

# Dictionary → Key-value pairs, unordered (as of Python 3.6+, preserves insertion order)
person = {"name": "Alice", "age": 25}
print("Dictionary:", person)
person["city"] = "New York"  # Add new key-value pair
print("Updated Dictionary:", person)

# String → Immutable sequence of characters
text = "hello"
print("String:", text)
print("First character:", text[0])

List: ['apple', 'banana', 'cherry']
Updated List: ['apple', 'banana', 'cherry', 'orange']
Tuple: (10, 20)
Set (no duplicates): {1, 2, 3}
Updated Set: {1, 2, 3, 4}
Dictionary: {'name': 'Alice', 'age': 25}
Updated Dictionary: {'name': 'Alice', 'age': 25, 'city': 'New York'}
String: hello
First character: h

In [ ]:
a=(5,)
print(type(a))

<class 'tuple'>

***List: Ordered, Mutable, Allows Duplicates.***

In [ ]:
# Ordered — index matters
my_list = ['a', 'b', 'c']
print("Original list:", my_list)
print("Element at index 1:", my_list[1])  # → 'b'

# Mutable — can change items
my_list[1] = 'z'
print("After mutation:", my_list)         # → ['a', 'z', 'c']

# Allows duplicates
my_list.append('a')
print("With duplicate:", my_list)         # → ['a', 'z', 'c', 'a']

Original list: ['a', 'b', 'c']
Element at index 1: b
After mutation: ['a', 'z', 'c']
With duplicate: ['a', 'z', 'c', 'a']

***Tuple & String: Ordered, NOT Mutable***

In [ ]:
# Ordered
my_tuple = ('x', 'y', 'z')
print("Original tuple:", my_tuple)
print("Element at index 2:", my_tuple[2])  # → 'z'

Original tuple: ('x', 'y', 'z')
Element at index 2: z

In [ ]:
# Not mutable — this will cause an error:
my_tuple[1] = 'new'

TypeError: 'tuple' object does not support item assignment

In [ ]:
# Ordered
my_str = "hello"
print("Character at index 1:", my_str[1])  # → 'e'

# Not mutable — this will cause an error:
# my_str[0] = 'H'      ← ❌ TypeError

Character at index 1: e

# STRINGS

String Built-in Functions

In [ ]:
s = "hello"

print("Length:", len(s))           # Count characters → 5
print("Maximum char:", max(s))    # Highest alphabetically → 'o'
print("Minimum char:", min(s))    # Lowest → 'e'
print("ASCII of 'h':", ord('h'))  # ASCII value → 104
print("Char for 104:", chr(104))  # From ASCII → 'h'

Length: 5
Maximum char: o
Minimum char: e
ASCII of 'h': 104
Char for 104: h

String Methods

In [ ]:
text = "  Python is Fun!  "

print("Uppercase:", text.upper())          # → '  PYTHON IS FUN!  '
print("Lowercase:", text.lower())          # → '  python is fun!  '
print("Strip:", text.strip())              # Removes spaces
print("Replace:", text.replace("Fun", "Awesome"))
print("Starts with 'Py':", text.strip().startswith("Py"))
print("Ends with '!':", text.strip().endswith("!"))
print("Split by space:", text.split())     # → ['Python', 'is', 'Fun!']
print("Find 'is':", text.find("is"))       # → index of first occurrence

Uppercase:   PYTHON IS FUN!
Lowercase:   python is fun!
Strip: Python is Fun!
Replace:   Python is Awesome!
Starts with 'Py': True
Ends with '!': True
Split by space: ['Python', 'is', 'Fun!']
Find 'is': 9

String Conversions

In [ ]:
num = 123
flt = 3.14
flag = True

print("Number to string:", str(num))       # '123'
print("Float to string:", str(flt))        # '3.14'
print("Bool to string:", str(flag))        # 'True'

# String to number
s1 = "456"
print("String to int:", int(s1))           # 456
s2 = "7.89"
print("String to float:", float(s2))       # 7.89

Number to string: 123
Float to string: 3.14
Bool to string: True
String to int: 456
String to float: 7.89

String Comparison

In [ ]:
a = "apple"
b = "banana"
c = "apple"

print("a == b:", a == b)         # False
print("a == c:", a == c)         # True
print("a < b:", a < b)           # True (alphabetical)
print("a > b:", a > b)           # False

a == b: False
a == c: True
a < b: True
a > b: False

**Python Membership Operators**

| Operator | Meaning              | Example                     |
| -------- | -------------------- | --------------------------- |
| `in`     | Value is present     | `'a' in 'cat'` → `True`     |
| `not in` | Value is NOT present | `'z' not in 'cat'` → `True` |

In [ ]:
# In a string
word = "hello"
print("'e' in word:", 'e' in word)         # True
print("'x' not in word:", 'x' not in word) # True

# In a list
colors = ["red", "blue", "green"]
print("'blue' in colors:", 'blue' in colors)   # True

# In a tuple
nums = (1, 2, 3)
print("2 in nums:", 2 in nums)             # True

# In a set
vowels = {'a', 'e', 'i', 'o', 'u'}
print("'i' in vowels:", 'i' in vowels)     # True

# In a dictionary (checks keys only!)
person = {"name": "Bob", "age": 30}
print("'name' in person:", 'name' in person)    # True
print("'Bob' in person:", 'Bob' in person)      # False!

'e' in word: True
'x' not in word: True
'blue' in colors: True
2 in nums: True
'i' in vowels: True
'name' in person: True
'Bob' in person: False

**Regular Expressions**

Regular expressions are patterns used to match character combinations in strings.

In [ ]:
import re

text = "My email is test123@example.com and I was born in 1998." #"Please call me later."

# 1. Search for a word
match = re.search("email", text)  #searches for the first occurrence of the substring "email" in the string text. if not found; it returns None.
                                                                                    #AttributeError: 'NoneType' object has no attribute 'group'
print("Search 'email':", match.group()) # match.group() retrieves the actual matched string from the match object.

Search 'email': email

In [ ]:
#To find multiple (or specifically the second) occurrence of a substring, you need to use re.finditer() or re.findall().
import re

text = "My email is test@example.com. Please send the email by tomorrow."

# Find all occurrences of the substring 'email'
matches = list(re.finditer("email", text))
print(matches)

# Check if there are at least two matches
if len(matches) >= 2:
    print("Second occurrence of 'email':", matches[1].group())  #matches[1] is the second match (index starts at 0).
    print("Starts at index:", matches[1].start())
else:
    print("Less than two occurrences found.")
#In output, span=(3, 8) email is between index 3 and index 8

[<re.Match object; span=(3, 8), match='email'>, <re.Match object; span=(46, 51), match='email'>]
Second occurrence of 'email': email
Starts at index: 46

In [ ]:
#re.findall() returns only the matched substrings, not their positions.
text = "My email is test@example.com. Please send the email by tomorrow."

# Find all occurrences of the substring 'email'
matches = list(re.findall("email", text))
print(matches)

['email', 'email']

In [ ]:
# 2. Find all digits
import re
#to extract all numbers (sequences of digits) from a string
text = "My email is test123@example.com and I was born in 1998."
digits = re.findall(r"\d+", text) #\d matches any digit (0–9); + means one or more occurrences of the digits.
print("All numbers:", digits)  # → ['123', '1998']

All numbers: ['123', '1998']

# **Common Regex Patterns**

| Pattern       | Meaning                          | Example Match         |
| ------------- | -------------------------------- | --------------------- |
| `.`           | Any character (except newline)   | `a.b` → matches `acb` |
| `\d`          | Digit                            | `\d+` → `123`, `99`   |
| `\w`          | Word character (letters/numbers) | `\w+` → `test123`     |
| `\s`          | Whitespace                       | `\s+` splits words    |
| `^` / `$`     | Start / End of string            | `^Hello` → must start |
| `[abc]`       | a, b, or c                       | `a` in `[aeiou]`      |
| `*`, `+`, `?` | Repeat 0+, 1+, or 0/1 times      | `a+` → `aaa`          |

In [ ]:
# 3. Check if string starts with "My"
print("Starts with 'My':", bool(re.match(r"My", text)))

#Unlike re.search(), which looks anywhere in the string, re.match() only checks the beginning.
#The r before the string is a raw string marker — it tells Python not to interpret backslashes (so \d, \s, etc. work properly).

Starts with 'My': True

In [ ]:
# 4. Replace email with "[hidden]"
new_text = re.sub(r"\S+@\S+", "[hidden]", text)
print("Masked text:", new_text)

#re.sub(pattern, replacement, text);   Pattern = r"\S+@\S+"     Replacement = "[hidden]"   Text = "My email is test123@example.com"
#\S → any non-whitespace character (so not a space, tab, or newline)
# t, e, s, t, 1, 2, 3 → all non-whitespace  Also, e, x, a, m, p, l, e, ., c, o, m → all non-whitespace
#\S+ → matches the username part (test123)    @ → matches the @        \S+ again → matches the domain (example.com)

Masked text: My email is [hidden] Please send the email by tomorrow.

In [ ]:
# 5. Split on spaces
words = re.split(r"\s+", text)
print("Split into words:", words)

Split into words: ['My', 'email', 'is', 'test@example.com.', 'Please', 'send', 'the', 'email', 'by', 'tomorrow.']

In [ ]:
import re

text = "apple banana cherry date"
matches = re.findall(r"[abc]", text)

print(matches)

['a', 'b', 'a', 'a', 'a', 'c', 'a']

# **Control Statements**

In [ ]:
# Basic if Statement
x = 10
if x > 5:
    print("x is greater than 5")

x is greater than 5

In [ ]:
#if-else Statement
x = 3
if x > 5:
    print("x is greater than 5")
else:
    print("x is not greater than 5")

x is not greater than 5

In [ ]:
#if-elif-else Chain
x = 5
if x > 5:
    print("x is big")
elif x == 5:
    print("x is exactly 5")
else:
    print("x is small")

x is exactly 5

In [ ]:
#Combining conditions
age = 18
has_id = True

if age >= 18 and has_id:
    print("Entry allowed")
else:
    print("Access denied")

Entry allowed

**FOR loop**

for loop is used to iterate over items in a sequence (like a list, tuple, string, or range).

In [ ]:
#Loop over a list
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print("Fruit:", fruit)

Fruit: apple
Fruit: banana
Fruit: cherry

In [ ]:
for i in range(5):
    print("Number:", i)

Number: 0
Number: 1
Number: 2
Number: 3
Number: 4

In [ ]:
for letter in "Python":
    print("Letter:", letter)

Letter: P
Letter: y
Letter: t
Letter: h
Letter: o
Letter: n

In [ ]:
# Using break in a for loop
for i in range(1, 6):
    if i == 4:
        break
    print("Break at:", i)

Break at: 1
Break at: 2
Break at: 3

In [ ]:
#Using continue in a for loop
for i in range(1, 6):
    if i == 3:
        continue
    print("Continue skips 3:", i)

Continue skips 3: 1
Continue skips 3: 2
Continue skips 3: 4
Continue skips 3: 5

**While loop**

A while loop repeats a block of code as long as a condition is True.

In [ ]:
#Simple Counting
count = 1
while count <= 5:
    print("Count:", count)
    count += 1

Count: 1
Count: 2
Count: 3
Count: 4
Count: 5

| Type       | Purpose                      |
| ---------- | ---------------------------- |
| `break`    | Exit the current loop early  |
| `continue` | Skip the current iteration   |
| `pass`     | Placeholder — do nothing now |

In [ ]:
#Using break to stop early
x = 1
while True:
    if x > 3:
        break
    print("x is", x)
    x += 1

x is 1
x is 2
x is 3

In [ ]:
#Using continue to skip even numbers
n = 0
while n < 5:
    n += 1
    if n % 2 == 0:
        continue
    print("Odd:", n)

Odd: 1
Odd: 3
Odd: 5

In [ ]:
for i in range(3):
    if i == 1:
        pass  # Placeholder — maybe add code later
    print("Loop:", i)

Loop: 0
Loop: 1
Loop: 2

# **Functions**

A function is a block of code that runs only when called.
It can:

*   Take inputs (called parameters)
*   Return outputs
*   Be reused as many times as needed

In [ ]:
#Defining & Using a Function
# 1. Define the function
def greet(name):
    print("Hello,", name)

# 2. Call the function
greet("Alice")
greet("Bob")

Hello, Alice
Hello, Bob

In [ ]:
#Function with Return Value
def add(a, b):
    return a + b

result = add(3, 5)
print("Sum:", result)

Sum: 8

In [ ]:
#Function with Default Parameter
def welcome(name="Guest"):
    print("Welcome,", name)

welcome()           # Uses default
welcome("Ramesh")   # Uses given argument

Welcome, Guest
Welcome, Ramesh

In [ ]:
#Function with Multiple Returns
def math_operations(x, y):
    return x + y, x - y, x * y

a, b, c = math_operations(10, 3)
print("Add:", a, "Sub:", b, "Mul:", c)

Add: 13 Sub: 7 Mul: 30

# **Sequences: Lists and Tuples**

**List**

In [ ]:
c = [-45, 6, 0, 72, 1543] #Creating a List
c

[-45, 6, 0, 72, 1543]

In [ ]:
c[0] #Accessing Elements of a List

-45

In [ ]:
c[-3]#Accessing Elements from the End of the List with Negative Indices

0

In [ ]:
#Indices Must Be Integers or Integer Expressions
a = 1
b = 2
c[a + b]

72

In [ ]:
#Lists Are Mutable
c[4] = 17
c

[-45, 6, 0, 72, 17]

In [ ]:
#Some Sequences Are Immutable
s = 'hello'
s[0]

'h'

In [ ]:
s[0] = 'H'

TypeError: 'str' object does not support item assignment

In [ ]:
c[100]

IndexError: list index out of range

In [ ]:
c[0] + c[1] + c[2]

-39

In [ ]:
a_list = []
for number in range(1, 6):
    a_list += [number]
a_list

[1, 2, 3, 4, 5]

In [ ]:
letters = []
letters += 'Python'
letters

['P', 'y', 't', 'h', 'o', 'n']

In [ ]:
#Concatenating Lists with +
list1 = [10, 20, 30]
list2 = [40, 50]
concatenated_list = list1 + list2
concatenated_list

[10, 20, 30, 40, 50]

In [ ]:
for i in range(len(concatenated_list)):
    print(f'{i}: {concatenated_list[i]}')

0: 10
1: 20
2: 30
3: 40
4: 50

**Tuples**

In [ ]:
#Creating Tuples
student_tuple = ()
student_tuple

()

In [ ]:
len(student_tuple)

0

In [ ]:
student_tuple = 'John', 'Green', 3.3
print(type(student_tuple))
student_tuple

<class 'tuple'>

('John', 'Green', 3.3)

In [ ]:
a_singleton_tuple = ('red',)  # note the comma
a_singleton_tuple

('red',)

In [ ]:
#Accessing Tuple Elements
time_tuple = (9, 16, 1)
time_tuple[0] * 3600 + time_tuple[1] * 60 + time_tuple[2]

33361

In [ ]:
#Adding Items to a String or Tuple
tuple1 = (10, 20, 30)
tuple2 = tuple1
tuple1 += (40, 50)

In [ ]:
tuple1

(10, 20, 30, 40, 50)

In [ ]:
tuple2

(10, 20, 30)

In [ ]:
#Appending Tuples to Lists
numbers = [1, 2, 3, 4, 5]
numbers += (6, 7)
numbers

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
#Tuples May Contain Mutable Objects
student_tuple = ('Amanda', 'Blue', [98, 75, 87])
student_tuple[2][1] = 85
student_tuple

('Amanda', 'Blue', [98, 85, 87])

**Unpacking Sequences**

In [ ]:
student_tuple = ('Amanda', [98, 85, 87])
first_name, grades = student_tuple

In [ ]:
first_name

'Amanda'

In [ ]:
grades

[98, 85, 87]

In [ ]:
first, second = 'hi'
print(f'{first}  {second}')

h  i

In [ ]:
number1, number2, number3 = [2, 3, 5]
print(f'{number1}  {number2}  {number3}')

2  3  5

In [ ]:
number1, number2, number3 = range(10, 40, 10)
print(f'{number1}  {number2}  {number3}')

10  20  30

In [ ]:
#Swapping Values Via Packing and Unpacking
number1 = 99
number2 = 22
number1, number2 = (number2, number1)

In [ ]:
print(f'number1 = {number1}; number2 = {number2}')

number1 = 22; number2 = 99

In [ ]:
#Accessing Indices and Values with enumerate()
colors = ['red', 'orange', 'yellow']
list(enumerate(colors))

[(0, 'red'), (1, 'orange'), (2, 'yellow')]

In [ ]:
tuple(enumerate(colors))

((0, 'red'), (1, 'orange'), (2, 'yellow'))

In [ ]:
for index, value in enumerate(colors):
    print(f'{index}: {value}')

0: red
1: orange
2: yellow

**Sequence Slicing**

In [ ]:
numbers = [2, 3, 5, 7, 11, 13, 17, 19]
numbers[2:6]

[5, 7, 11, 13]

In [ ]:
numbers[:6]

[2, 3, 5, 7, 11, 13]

In [ ]:
numbers[0:6]

[2, 3, 5, 7, 11, 13]

In [ ]:
numbers[6:]

[17, 19]

In [ ]:
numbers[:]

[2, 3, 5, 7, 11, 13, 17, 19]

In [ ]:
numbers[::2] #Slicing with Steps

[2, 5, 11, 17]

Modifying Lists Via Slices

In [ ]:
numbers[0:3] = ['two', 'three', 'five']
numbers

['two', 'three', 'five', 7, 11, 13, 17, 19]

In [ ]:
numbers = []
numbers[0:3] = ['two', 'three', 'five']
numbers

['two', 'three', 'five']

In [ ]:
numbers = [2, 3, 5, 7, 11, 13, 17, 19]
numbers[::2] = [100, 100, 100, 100]
numbers

[100, 3, 100, 7, 100, 13, 100, 19]

In [ ]:
id(numbers) #returns the memory address (or unique ID) of a Python object while the program is running.

133605200086208

In [ ]:
id(numbers[0:5])

133605200407040

In [ ]:
numbers = []
id(numbers)

133605200406848

**del Statement**

Deleting the Element at a Specific List Index

In [ ]:
numbers = list(range(0, 10))
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
del numbers[-1]
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8]

Deleting a Slice from a List

In [ ]:
del numbers[0:2]
numbers

[2, 3, 4, 5, 6, 7, 8]

In [ ]:
del numbers[::2]
numbers

[3, 5, 7]

In [ ]:
del numbers  #Deleting a Variable from the Current Session
numbers

NameError: name 'numbers' is not defined

**Passing Lists to Functions**

In [ ]:
def modify_elements(items):
    """"Multiplies all element values in items by 2."""
    for i in range(len(items)):
        items[i] *= 2

In [ ]:
numbers = [10, 3, 7, 1, 9]
modify_elements(numbers)
numbers

[20, 6, 14, 2, 18]

**Passing a Tuple to a Function**

In [ ]:
numbers_tuple = (10, 20, 30)
numbers_tuple

(10, 20, 30)

In [ ]:
modify_elements(numbers_tuple)

TypeError: 'tuple' object does not support item assignment

 **Sorting Lists**

In [ ]:
#Sorting a List in Ascending Order
numbers = [10, 3, 7, 1, 9, 4, 2, 8, 5, 6]
numbers.sort()
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
numbers.sort(reverse=True)#Descending Order
numbers

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

Built-In Function sorted

In [ ]:
numbers = [10, 3, 7, 1, 9, 4, 2, 8, 5, 6]
ascending_numbers = sorted(numbers)
ascending_numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
numbers

[10, 3, 7, 1, 9, 4, 2, 8, 5, 6]

In [ ]:
letters = 'fadgchjebi'
ascending_letters = sorted(letters)
ascending_letters

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [ ]:
letters

'fadgchjebi'

In [ ]:
colors = ('red', 'orange', 'yellow', 'green', 'blue')
ascending_colors = sorted(colors)
ascending_colors

['blue', 'green', 'orange', 'red', 'yellow']

In [ ]:
colors

('red', 'orange', 'yellow', 'green', 'blue')

 **Searching Sequences**

In [ ]:
numbers=[]
numbers = [3, 7, 1, 4, 2, 8, 5, 6]
numbers.index(5) # Returns index value of 5 i.e., 6

6

In [ ]:
#Specifying the Starting Index of a Search
numbers *= 2 #List duplication with *=
numbers

[3, 7, 1, 4, 2, 8, 5, 6, 3, 7, 1, 4, 2, 8, 5, 6]

In [ ]:
numbers.index(5, 7) #list.index(value, start)

14

In [ ]:
numbers.index(7, 0, 4) #list.index(value, start, stop); index 0 (inclusive) and index 4 (exclusive)

1

In [ ]:
numbers.index(8, 0, 4)

ValueError: 8 is not in list

In [ ]:
#Using Operator in to Prevent a ValueError
key = 1000
if key in numbers:
    print(f'found {key} at index {numbers.index(search_key)}')
else:
    print(f'{key} not found')

1000 not found

**Other List Methods**

| Method         | What it does                     | Example Result   |
| -------------- | -------------------------------- | ---------------- |
| `append(x)`    | Adds one item (any type)         | `[1, 2, [3, 4]]` |
| `extend(x)`    | Adds all items from iterable `x` | `[1, 2, 3, 4]`   |
| `insert(i, x)` | Inserts `x` at index `i`         | `[1, x, 2, 3]`   |

In [ ]:
#insert()
color_names = ['orange', 'yellow', 'green']
color_names.insert(0, 'red')
color_names

['red', 'orange', 'yellow', 'green']

In [ ]:
#append()  Adds to the end of the list
color_names.append('blue')
color_names

['red', 'orange', 'yellow', 'green', 'blue']

In [ ]:
color_names = []
color_names = ['orange', 'yellow', 'green']
color_names.append(['indigo', 'violet'])
color_names

['orange', 'yellow', 'green', ['indigo', 'violet']]

In [ ]:
color_names = []
color_names = ['orange', 'yellow', 'green']
color_names.extend(['indigo', 'violet'])
color_names

['orange', 'yellow', 'green', 'indigo', 'violet']

In [ ]:
#Removing the First Occurrence of an Element in a List
color_names.remove('green')
color_names

['orange', 'yellow', 'indigo', 'violet']

In [ ]:
color_names.clear()
color_names

[]

In [ ]:
#Counting the Number of Occurrences of an Item

responses = [1, 2, 5, 4, 3, 5, 2, 1, 3, 3, 1, 4, 3, 3, 3, 2, 3, 3, 2, 2]
for i in range(1, 6):
    print(f'{i} appears {responses.count(i)} times in responses')

1 appears 3 times in responses
2 appears 5 times in responses
3 appears 8 times in responses
4 appears 2 times in responses
5 appears 2 times in responses

In [ ]:
#Reversing a List’s Elements
color_names = ['red', 'orange', 'yellow', 'green', 'blue']
color_names.reverse()
color_names

['blue', 'green', 'yellow', 'orange', 'red']

In [ ]:
#Copying a List
copied_list = color_names.copy()
copied_list

['blue', 'green', 'yellow', 'orange', 'red']

**Simulating Stacks with Lists**

In [ ]:
stack = []
stack.append('red')
stack

['red']

In [ ]:
stack.append('green')
stack

['red', 'green']

In [ ]:
stack.pop()

'green'

In [ ]:
stack

['red']

 **List Comprehensions**

In [ ]:
list1 = []
for item in range(1, 6):
    list1.append(item)
list1

[1, 2, 3, 4, 5]

In [ ]:
#Using a List Comprehension to Create a List of Integers
list2 = [item for item in range(1, 6)]
list2

[1, 2, 3, 4, 5]

In [ ]:
#Performing Operations in a List Comprehension’s Expression
list3 = [item ** 3 for item in range(1, 6)]
list3

[1, 8, 27, 64, 125]

In [ ]:
#List Comprehensions with if Clauses
list4 = [item for item in range(1, 11) if item % 2 == 0]
list4

[2, 4, 6, 8, 10]

In [ ]:
#List Comprehension That Processes Another List’s Elements
colors = ['red', 'orange', 'yellow', 'green', 'blue']
colors2 = [item.upper() for item in colors]
colors2

['RED', 'ORANGE', 'YELLOW', 'GREEN', 'BLUE']

In [ ]:
colors

['red', 'orange', 'yellow', 'green', 'blue']

 **Generator Expressions**

A generator expression is similar to a list comprehension, but creates an iterable generator object that produces values *on demand*. This is known as *lazy evaluation.*

List comprehensions use *greedy evaluation.*--- they create lists immediately when they execute them.

In [ ]:
numbers = [10, 3, 7, 1, 9, 4, 2, 8, 5, 6]
for value in (x ** 2 for x in numbers if x % 2 != 0):
    print(value, end='  ')

9  49  1  81  25

In [ ]:
numbers = [10, 3, 7, 1, 9, 4, 2, 8, 5, 6]
squares_of_odds = (x ** 2 for x in numbers if x % 2 != 0)
squares_of_odds

Python is multi-paradigm → it supports imperative, object-oriented, and functional styles.

**Functional programming tools in Python: Filter, Map and Reduce**

Functional programming (FP) is a programming style where you build your program using functions as the main building blocks — *but not just any functions.*

In [ ]:
#Imperative style (step-by-step):
nums = [1, 2, 3, 4]
squares = []
for n in nums:
    squares.append(n**2)
print(squares)

#Functional style: “map this function to every element” rather than manually looping.
nums = [1, 2, 3, 4]
print(list(map(lambda x: x**2, nums)))

[1, 4, 9, 16]
[1, 4, 9, 16]

Why are filter, map, and reduce called FP tools? Because they come directly from functional programming concepts

map → transform each item without changing the original list.

filter → choose only what meets the condition.

reduce → condense everything into one final value.

| Tool     | What it does (in FP terms)                                                             |
| -------- | -------------------------------------------------------------------------------------- |
| `map`    | **Transforms** each element of a sequence using a function.                            |
| `filter` | **Selects** only the elements that satisfy a condition (predicate function).           |
| `reduce` | **Combines** elements into a single value by repeatedly applying a function (folding). |

In [ ]:
#Filtering a Sequence’s Values with filter()
numbers = [10, 3, 7, 1, 9, 4, 2, 8, 5, 6]
def is_odd(x):
    """Returns True only if x is odd."""
    return x % 2 != 0
list(filter(is_odd, numbers))

[3, 7, 1, 9, 5]

In [ ]:
[item for item in numbers if is_odd(item)]

[3, 7, 1, 9, 5]

**Using a lambda Rather than a Function**

A lambda is a small anonymous function — you use it for quick, one-time operations, especially with map(), filter(), and sort().

*Regular function vs. lambda function*

In [ ]:
#Using a regular function:
def square(x):
    return x * x

print(square(4))  # 16

16

In [ ]:
#Using a lambda:
square = lambda x: x * x
print(square(4))  # 16

16

In [ ]:
list(filter(lambda x: x % 2 != 0, numbers))

[3, 7, 1, 9, 5]

In [ ]:
#map(function, iterable)
numbers=[]
numbers = [10, 3, 7, 1, 9, 4, 2, 8, 5, 6]
list(map(lambda x: x ** 2, numbers))

[100, 9, 49, 1, 81, 16, 4, 64, 25, 36]

In [ ]:
[item ** 2 for item in numbers]

[100, 9, 49, 1, 81, 16, 4, 64, 25, 36]

In [ ]:
#Combining filter and map
list(map(lambda x: x ** 2,
         filter(lambda x: x % 2 != 0, numbers)))
#First filters out only the odd numbers and then we square each of those with map()

[9, 49, 1, 81, 25]

In [ ]:
[x ** 2 for x in numbers if x % 2 != 0]

[9, 49, 1, 81, 25]

**reduce()**

It combines all the elements of a list into a single result.

from functools import reduce

reduce(function, iterable)

| Tool       | Purpose                     | Example Result                    |
| ---------- | --------------------------- | --------------------------------- |
| `reduce()` | Combine all values into one | `sum`, `product`, `max`, `concat` |

In [ ]:
from functools import reduce

nums = [2, 3, 4]

product = reduce(lambda x, y: x * y, nums)
print(product)  # 24 → (2 * 3 = 6 → 6 * 4 = 24)

24

In [ ]:
nums = [10, 20, 30]
total = reduce(lambda x, y: x + y, nums)
print(total)  # 60

60

In [ ]:
#You can give a starting value (optional):
reduce(lambda x, y: x + y, [1, 2, 3], 10)
# 10 + 1 → 11 → 11 + 2 → 13 → 13 + 3 → 16

16

Note: Nowadays, Pythonistas often use list comprehensions instead of map/filter because they’re more readable, but the concepts are still pure FP.

**Other Sequence Processing Functions**

In [ ]:
#Python compares strings character-by-character, based on ASCII (Unicode) values.
ord('R')      # 82
ord('o')      # 111

#Since 82 < 111, we get:
'Red' < 'orange'  # True

# Note: Even though "R" comes after "o" alphabetically to us, computers see capital letters (A–Z) as less than lowercase (a–z) in ASCII.

True

In [ ]:
colors = ['Red', 'orange', 'Yellow', 'green', 'Blue']
min(colors, key=lambda s: s.lower()) #converts each word to lowercase just for comparison. After conversion, ['red', 'orange', 'yellow', 'green', 'blue']
# and, alphabetically: 'blue' is smallest and 'yellow' is greatest

'Blue'

In [ ]:
max(colors, key=lambda s: s.lower())

'Yellow'

In [ ]:
#Iterating Backwards Through a Sequence: reversed()
numbers = [10, 3, 7, 1, 9, 4, 2, 8, 5, 6]
reversed_numbers = [item ** 2 for item in reversed(numbers)]
reversed_numbers

[36, 25, 64, 4, 16, 81, 1, 49, 9, 100]

In [ ]:
#Combining Iterables into Tuples of Corresponding Elements
#zip(): It pairs items from two (or more) iterables together
names = ['Bob', 'Sue', 'Amanda']
grade_point_averages = [3.5, 4.0, 3.75]
a=zip(names, grade_point_averages)
print(a, type(a))

<zip object at 0x78d0b5997780> <class 'zip'>

In [ ]:
for name, gpa in zip(names, grade_point_averages):
    print(f'Name={name}; GPA={gpa}')

#Note: if lists are unequal, zip() stops at the shortest list — no error, but data may be skipped.

Name=Bob; GPA=3.5
Name=Sue; GPA=4.0
Name=Amanda; GPA=3.75

**2D List**

In [ ]:
a = [[77, 68, 86, 73], [96, 87, 89, 81], [70, 90, 86, 81]]
for row in a:
    for item in row:
        print(item, end=' ')
    print()

77 68 86 73
96 87 89 81
70 90 86 81

In [ ]:
for i, row in enumerate(a):
    for j, item in enumerate(row):
        print(f'a[{i}][{j}]={item} ', end=' ')
    print()

a[0][0]=77  a[0][1]=68  a[0][2]=86  a[0][3]=73
a[1][0]=96  a[1][1]=87  a[1][2]=89  a[1][3]=81
a[2][0]=70  a[2][1]=90  a[2][2]=86  a[2][3]=81

# **Dictionaries and Sets**

**Dictionary**

In [ ]:
country_codes = {'Finland': 'fi', 'South Africa': 'za', 'Nepal': 'np'}
country_codes

{'Finland': 'fi', 'South Africa': 'za', 'Nepal': 'np'}

In [ ]:
len(country_codes)

3

In [ ]:
country_codes.clear()
country_codes

{}

In [ ]:
days_per_month = {'January': 31, 'February': 28, 'March': 31}
days_per_month

{'January': 31, 'February': 28, 'March': 31}

In [ ]:
for month, days in days_per_month.items():
    print(f'{month} has {days} days')

January has 31 days
February has 28 days
March has 31 days

Basic Dictionary Operations

In [ ]:
roman_numerals = {'I': 1, 'II': 2, 'III': 3, 'V': 5, 'X': 100}
roman_numerals

{'I': 1, 'II': 2, 'III': 3, 'V': 5, 'X': 100}

In [ ]:
roman_numerals['V']

5

In [ ]:
roman_numerals['X'] = 10
roman_numerals

{'I': 1, 'II': 2, 'III': 3, 'V': 5, 'X': 10}

In [ ]:
roman_numerals['L'] = 50 #Adding a New Key–Value Pair
roman_numerals

{'I': 1, 'II': 2, 'III': 3, 'V': 5, 'X': 10, 'L': 50}

In [ ]:
#Removing a Key–Value Pair
del roman_numerals['III']
roman_numerals

{'I': 1, 'II': 2, 'V': 5, 'X': 10, 'L': 50}

del → just delete

pop() → delete and return the value

In [ ]:
val=roman_numerals.pop('X')
print(val)
roman_numerals

10

{'I': 1, 'II': 2, 'V': 5, 'L': 50}

In [ ]:
student = {'name': 'Alice', 'age': 20, 'grade': 'A'}
value = student.pop('grade')
print(value)     # 'A'
print(student)   # {'name': 'Alice', 'age': 20}

A
{'name': 'Alice', 'age': 20}

In [ ]:
#Attempting to Access a Nonexistent Key
roman_numerals['III']

KeyError: 'III'

**dictionary.get(key, default)**

If the key exists → returns the value

If the key doesn't exist → returns None (or your custom default)

In [ ]:
roman_numerals.get('III')

In [ ]:
roman_numerals.get('III', 'III not in dictionary')

'III not in dictionary'

In [ ]:
#Testing Whether a Dictionary Contains a Specified Key
'V' in roman_numerals

True

In [ ]:
'III' in roman_numerals

False

**Dictionary Methods - keys and values**

In [ ]:
months = {'January': 1, 'February': 2, 'March': 3}
for month_name in months.keys():
    print(month_name, end='  ')

January  February  March

In [ ]:
for month_number in months.values():
    print(month_number, end='  ')

1  2  3

**Dictionary Comparisons**

In [ ]:
country_capitals1 = {'Belgium': 'Brussels', 'Haiti': 'Port-au-Prince'}
country_capitals2 = {'Nepal': 'Kathmandu','Uruguay': 'Montevideo'}

In [ ]:
country_capitals1 == country_capitals2

False

In [ ]:
country_capitals1 != country_capitals2

True

In [ ]:
country_codes = {}
country_codes.update({'South Africa': 'za'})
country_codes

{'South Africa': 'za'}

**Dictionary Comprehensions**

In [ ]:
# a dictionary comprehension to reverse the keys and values.
months = {'January': 1, 'February': 2, 'March': 3}
months2 = {number: name for name, number in months.items()}
months2

{1: 'January', 2: 'February', 3: 'March'}

In [ ]:
months3 = {name: number for name, number in months.items()}
months3

{'January': 1, 'February': 2, 'March': 3}

In [ ]:
grades = {'Sue': [98, 87, 94], 'Bob': [84, 95, 91]}
grades2 = {k: sum(v) / len(v) for k, v in grades.items()}
grades2

{'Sue': 93.0, 'Bob': 90.0}

**Sets**

In [ ]:
colors = {'red', 'orange', 'yellow', 'green', 'red', 'blue'}
colors

{'blue', 'green', 'orange', 'red', 'yellow'}

In [ ]:
len(colors)

5

In [ ]:
'red' in colors

True

In [ ]:
'purple' not in colors

True

In [ ]:
#Iterating Through a Set
for color in colors:
    print(color.upper(), end=' ')

YELLOW BLUE RED ORANGE GREEN

In [ ]:
numbers = list(range(10)) + list(range(5))
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4]

In [ ]:
#Creating a Set with the Built-In set Function
set(numbers)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
{1, 3, 5} == {3, 5, 1}

True

In [ ]:
{1, 3, 5}.issubset({3, 5, 1})

True

In [ ]:
{1, 2}.issubset({3, 5, 1}) #Are all elements in {1, 2} also in {3, 5, 1}?

False

In [ ]:
{1, 3, 5}.issuperset({3, 5, 1})

True

In [ ]:
{1, 3, 5}.issuperset({3, 5})

True

In [ ]:
{1, 3, 5}.issuperset({3, 2})

False

**Mathematical Set Operations**



*   Using operator
*   Using method

Union

In [ ]:
{1, 3, 5} | {2, 3, 4}

{1, 2, 3, 4, 5}

In [ ]:
{1, 3, 5}.union([20, 20, 3, 40, 40])

{1, 3, 5, 20, 40}

Intersection

In [ ]:
{1, 3, 5} & {2, 3, 4}

{3}

In [ ]:
{1, 3, 5}.intersection([1, 2, 2, 3, 3, 4, 4])

{1, 3}

Difference

In [ ]:
{1, 3, 5} - {2, 3, 4}

{1, 5}

In [ ]:
{1, 3, 5, 7}.difference([2, 2, 3, 3, 4, 4]) #the list will automatically convert to set internally

{1, 5, 7}

Symmetric Difference

In [ ]:
{1, 3, 5} ^ {2, 3, 4}

{1, 2, 4, 5}

In [ ]:
{1, 3, 5, 7}.symmetric_difference([2, 2, 3, 3, 4, 4])  #{1, 3, 5, 7} ⊕ {2, 3, 4}
#Elements only in A: 1,5,7  Elements only in B: 2, 4  Shared (in both):3
# So, the result includes all elements except the one they share (3)

{1, 2, 4, 5, 7}

Disjoint

In [ ]:
{1, 3, 5}.isdisjoint({2, 4, 6})

True

Mutable Mathematical Set Operations

In [ ]:
numbers = {1, 3, 5}
numbers |= {2, 3, 4} #Union
numbers

{1, 2, 3, 4, 5}

In [ ]:
numbers.update(range(10))  #updates numbers in place by adding all elements from range(10)
numbers

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

Methods for Adding and Removing Elements

In [ ]:
numbers.add(17)
numbers

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 17}

In [ ]:
numbers.remove(3)
numbers

{0, 1, 2, 4, 5, 6, 7, 8, 9, 17}

In [ ]:
numbers.pop()
numbers

{1, 2, 4, 5, 6, 7, 8, 9, 17}

In [ ]:
numbers.clear()
numbers

set()

**Set Comprehensions**

In [ ]:
numbers = [1, 2, 2, 3, 4, 5, 6, 6, 7, 8, 9, 10, 10]
evens = {item for item in numbers if item % 2 == 0}
evens

{2, 4, 6, 8, 10}